@charset "UTF-8";
/*variables SASS*/
/*import archivos SCSS*/
/*Header*/
header {
  background-color: #37604c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header; }

/*Navegador*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

nav ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500; }
  nav ul li:hover {
    border-radius: 5%; }

.navbar-toggler {
  border: 0 !important;
  box-shadow: unset !important; }

/*Títulos*/
h1, .titulosMonserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: white;
  text-align: center;
  background-color: #333333;
  margin: 0; }

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ede8d7;
  margin: 0;
  padding: 1% 0 1% 0; }

h3 {
  font-weight: 500; }
  h3:hover {
    font-weight: 700;
    font-size: 2.2rem; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin: 0; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white;
  margin: 0; }

/*Inicio*/
.contLogo {
  display: flex;
  justify-content: center;
  align-content: center; }
  .contLogo img {
    width: 40%;
    padding: 10% 0 10% 0; }

.index {
  background-image: url("../multimedia/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*GRILLA catalogo de comida*/
.menu {
  grid-area: menu; }

.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto repeat(8, 1fr) auto;
  grid-template-areas: "header header header" "menu menu menu" "pizzas hamburguesas milanesas" "sandwiches papasFritas empanadas" "pizzas1 pizzas1 pizzas1" "hamburguesas1 hamburguesas1 hamburguesas1" "milanesas1 milanesas1 milanesas1" "sandwiches1 sandwiches1 sandwiches1" "papasFritas1 papasFritas1 papasFritas1" "empanadas1 empanadas1 empanadas1" "footer footer footer"; }

.pizzas {
  grid-area: pizzas;
  background-image: url("../multimedia/Pizzas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pizzas:hover {
    background-color: #1f1f1f; }
  .pizzas a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.hamburguesas {
  grid-area: hamburguesas;
  background-image: url("../multimedia/Hamburguesas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hamburguesas:hover {
    background-color: #1f1f1f; }
  .hamburguesas a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.milanesas {
  grid-area: milanesas;
  background-image: url("../multimedia/Milanesas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .milanesas:hover {
    background-color: #1f1f1f; }
  .milanesas a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.sandwiches {
  grid-area: sandwiches;
  background-image: url("../multimedia/Sandwiches.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sandwiches:hover {
    background-color: #1f1f1f; }
  .sandwiches a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.papasFritas {
  grid-area: papasFritas;
  background-image: url("../multimedia/Papas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .papasFritas:hover {
    background-color: #1f1f1f; }
  .papasFritas a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.empanadas {
  grid-area: empanadas;
  background-image: url("../multimedia/Empanadas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .empanadas:hover {
    background-color: #1f1f1f; }
  .empanadas a {
    text-decoration: none;
    padding: 11% 0 11% 0; }

.pizzas1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #c5a16f;
  grid-area: pizzas1;
  background-image: url("../multimedia/Pizzas.png"); }
  .pizzas1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .pizzas1 h2, .pizzas1 h3 {
    padding-bottom: 2rem; }
  .pizzas1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .pizzas1 ul {
    color: #333333; }

.hamburguesas1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #333333;
  grid-area: hamburguesas1;
  background-image: url("../multimedia/Hamburguesas.png"); }
  .hamburguesas1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .hamburguesas1 h2, .hamburguesas1 h3 {
    padding-bottom: 2rem; }
  .hamburguesas1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .hamburguesas1 h2, .hamburguesas1 h3 {
    color: #c5a16f; }
  .hamburguesas1 ul {
    color: #ede8d7; }

.milanesas1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #37604c;
  grid-area: milanesas1;
  background-image: url("../multimedia/Milanesas.png"); }
  .milanesas1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .milanesas1 h2, .milanesas1 h3 {
    padding-bottom: 2rem; }
  .milanesas1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .milanesas1 ul {
    color: #ede8d7; }

.sandwiches1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #333333;
  grid-area: sandwiches1;
  background-image: url("../multimedia/Sandwiches.png"); }
  .sandwiches1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .sandwiches1 h2, .sandwiches1 h3 {
    padding-bottom: 2rem; }
  .sandwiches1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .sandwiches1 h2, .sandwiches1 h3 {
    color: #c5a16f; }
  .sandwiches1 ul {
    color: #ede8d7; }

.papasFritas1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #c5a16f;
  grid-area: papasFritas1;
  background-image: url("../multimedia/Papas.png"); }
  .papasFritas1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .papasFritas1 h2, .papasFritas1 h3 {
    padding-bottom: 2rem; }
  .papasFritas1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .papasFritas1 ul {
    color: #333333; }

.empanadas1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3% 0 3% 0;
  background-color: #37604c;
  grid-area: empanadas1;
  background-image: url("../multimedia/Empanadas.png"); }
  .empanadas1 ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
  .empanadas1 h2, .empanadas1 h3 {
    padding-bottom: 2rem; }
  .empanadas1 p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10% 0 10%; }
  .empanadas1 ul {
    color: #ede8d7; }

/*Cervezas*/
.contCervezas {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url("../multimedia/Fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 25% 5% 25%; }
  .contCervezas p {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1% 0 1% 0; }

.accordion-collapse {
  display: flex;
  flex-direction: row;
  align-content: center; }

.accordion-body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif; }
  .accordion-body p {
    color: #37604c;
    font-weight: 400; }
  .accordion-body .propiedades {
    color: #c5a16f;
    font-weight: 600; }

/*Formulario*/
.contenedor2 {
  background-image: url("../multimedia/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 10% 5% 10%; }

form {
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  font-weight: 500;
  color: white;
  margin: 0% 15% 0% 15%; }

form div {
  text-align: start;
  display: flex;
  flex-direction: column; }

textarea {
  font-family: 'Montserrat', sans-serif;
  color: #606060;
  padding: 1rem; }

.formulario2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*Footer*/
footer {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: footer; }

.footerInfo {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: white; }

/*ANIMACIONES footer*/
.fb:hover {
  opacity: 0.5; }

.ig:hover {
  opacity: 0.5; }

/*Medias*/
@media screen and (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contLogo img {
    width: 60%;
    padding: 10% 0 10% 0; }
  h1, .titulosMonserrat {
    font-size: 2rem; }
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto repeat(9, 1fr) auto;
    grid-template-areas: "header header" "menu menu" "pizzas hamburguesas"  "milanesas sandwiches"  "papasFritas empanadas" "pizzas1 pizzas1" "hamburguesas1 hamburguesas1" "milanesas1 milanesas1" "sandwiches1 sandwiches1" "empanadas1 empanadas1" "papasFritas1 papasFritas1" "footer footer "; }
  .contCervezas {
    padding: 5% 15% 5% 15%; }
    .contCervezas p {
      font-size: 1rem; }
  .contenedor2 {
    padding: 5% 5% 5% 5%; }
  form {
    margin: 0% 10% 0% 10%; }
  .formulario2 {
    display: flex;
    flex-direction: column; }
  h6 {
    font-size: 0.9rem; }
  .footerText {
    font-size: 0.6rem; } }

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contLogo img {
    width: 70%;
    padding: 40% 0 40% 0; }
  h1, .titulosMonserrat {
    font-size: 1.5rem; }
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto repeat(12, 1fr) auto;
    grid-template-areas: "header" "menu" "pizzas"  "hamburguesas"  "milanesas"  "sandwiches"  "empanadas"  "papasFritas" "pizzas1" "hamburguesas1" "milanesas1" "sandwiches1" "empanadas1" "papasFritas1" "footer"; }
  .contCervezas p {
    font-size: 0.8rem; }
  .contenedor2 {
    padding: 3% 0% 3% 0%; }
  form {
    margin: 0% 3% 0% 3%; }
  .formulario2 {
    display: flex;
    flex-direction: column; }
  h6 {
    font-size: 0.8rem; }
  .footerText {
    font-size: 0.5rem; }
  .accordion-collapse {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .pizzas1, .hamburguesas1, .sandwiches1, .milanesas1, .papasFritas1, .empanadas1 {
    padding: 15% 0 15% 0 !important; } }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .instagram-media {
    min-width: 240px !important;
    max-width: 240px !important; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .instagram-media {
    min-width: 326px !important;
    max-width: 480px !important; } }

.eventos {
  background-image: url("../multimedia/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .eventos .carousel-inner {
    padding: 5% 0 5% 0; }
  .eventos .contenedorIg {
    padding: 10% 1% 0 0; }
  .eventos .instagram-media {
    background: #FFF;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    margin: 1px;
    max-width: 480px;
    min-width: 326px;
    padding: 0;
    width: 99.375%;
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px); }

/*universal*/
* {
  margin: 0;
  padding: 0; }

/*eliminar margenes predeterminados boopstrap*/
.nomargin {
  margin: 0; }
