@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*eliminar margenes predeterminados boopstrap*/
.nomargin {
  margin: 0; }

/*navegador*/
header {
  background-color: #38604c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

nav ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  list-style-type: none;
  text-decoration: none; }

/*animación navegador*/
nav ul li:hover {
  background-color: #2f5442;
  border-radius: 5%; }

.logoGrande {
  display: flex;
  justify-content: center;
  align-items: center; }

/*fondos*/
.fondo1 {
  background-image: url("/multimedia/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*Titulos principales*/
h1, .titulosMonserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: white;
  text-align: center;
  background-color: #272727; }

h2, .titulosMonserrat2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: white; }

.menu {
  grid-area: menu;
  color: white; }

.reservas {
  grid-area: reservas;
  color: white; }

/*GRILLA catalogo de comida*/
.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr auto;
  grid-template-areas: "header header header" "menu menu menu" "pizzas hamburguesas milanesas" "sandwiches papasFritas empanadas" "footer footer footer"; }

.pizzas {
  grid-area: pizzas;
  background-image: url("/multimedia/Pizzas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

.hamburguesas {
  grid-area: hamburguesas;
  background-image: url("/multimedia/Hamburguesas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

.milanesas {
  grid-area: milanesas;
  background-image: url("/multimedia/Milanesas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

.sandwiches {
  grid-area: sandwiches;
  background-image: url("/multimedia/Sandwiches.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

.papasFritas {
  grid-area: papasFritas;
  background-image: url("/multimedia/Papas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

.empanadas {
  grid-area: empanadas;
  background-image: url("/multimedia/Empanadas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

/*ANIMACIONES catalogo de comida*/
.pizzas:hover, .hamburguesas:hover, .milanesas:hover, .sandwiches:hover, .empanadas:hover, .papasFritas:hover {
  background-color: #202020;
  font-size: 2.5rem; }

/*GRILLA formulario*/
.contenedor2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "none form form";
  background-image: url("/multimedia/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

form {
  grid-area: form;
  font-family: 'Montserrat', sans-serif;
  background-color: #413e3e;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 100px; }

form div {
  text-align: start;
  display: flex;
  flex-direction: column; }

legend {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  text-align: center; }

input, textarea {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  padding: 1rem; }

/*footer*/
footer {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: footer; }

.footerInfo {
  display: flex;
  flex-direction: row;
  align-items: center; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white; }

.footerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: white; }

/*ANIMACIONES footer*/
.fb:hover {
  opacity: 0.5; }

.ig:hover {
  opacity: 0.5; }

/*medias responsive*/
@media screen and (max-width: 900px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    grid-template-areas: "header header " "menu menu" "pizzas hamburguesas"  "milanesas sandwiches"  "empanadas papasFritas" "footer footer "; }
  .contenedor2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "none"  "form"; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 700px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "header" "menu" "pizzas"  "hamburguesas"  "milanesas"  "sandwiches"  "empanadas"  "papasFritas" "footer"; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
