/*Cervezas*/

.contCervezas{
    background-image: 
    url("../multimedia/Fondo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    padding: 5% 18% 5% 18%;

    p{
        color:$color4;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.accordion-collapse{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.accordion-body{

    p{
        color:$color2;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;

    }

    .propiedades{
        color:$color3;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
}
