/*Header*/

header{
    background-color:$color2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

/*Navegador*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    
    &:hover{
        border-radius: 5%;
    }
}

.navbar-toggler{
    border: 0 !important;
    box-shadow: unset !important;
}