/*Inicio*/

.contLogo{
    display: flex;
    justify-content: center;
    align-content: center;

    img{
        width: 40%;
        padding: 10% 0 10% 0;
    }
}

.index{
    background-image: 
    url("../multimedia/Fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
