/*Medias*/

@media screen and (max-width:992px){

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contLogo{
    
        img{
            width: 60%;
            padding: 10% 0 10% 0;
        }
    }

    h1, .titulosMonserrat{
        font-size: 2rem;
    }

    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto repeat(9, 1fr) auto;
        grid-template-areas: 
        "header header"
        "menu menu"
        "pizzas hamburguesas" 
        "milanesas sandwiches" 
        "papasFritas empanadas"
        "pizzas1 pizzas1"
        "hamburguesas1 hamburguesas1"
        "milanesas1 milanesas1"
        "sandwiches1 sandwiches1"
        "empanadas1 empanadas1"
        "papasFritas1 papasFritas1"
        "footer footer ";
    }

    .contCervezas{
        padding: 5% 15% 5% 15%;

        p{
            font-size: 1rem;
        }
    }

    .contenedor2{
        padding: 5% 5% 5% 5%;
    }

    form{
        margin: 0% 10% 0% 10%;
    }

    .formulario2{
        display: flex;
        flex-direction: column;
    }

    h6{
        font-size: 0.9rem;
    }

    .footerText{
        font-size: 0.6rem;
    }
    
   
}

@media screen and (max-width:768px){

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contLogo{
    
        img{
            width: 70%;
            padding: 40% 0 40% 0;
        }
    }

    h1, .titulosMonserrat{
        font-size: 1.5rem;
    }

    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto repeat(12, 1fr) auto;
        grid-template-areas: 
        "header"
        "menu"
        "pizzas" 
        "hamburguesas" 
        "milanesas" 
        "sandwiches" 
        "empanadas" 
        "papasFritas"
        "pizzas1"
        "hamburguesas1"
        "milanesas1"
        "sandwiches1"
        "empanadas1"
        "papasFritas1"
        "footer";
    }

    .contCervezas{

        p{
            font-size: 0.8rem;
        }
    }

    .contenedor2{
        padding: 3% 0% 3% 0%;
    }

    form{
        margin: 0% 3% 0% 3%;
    }

    .formulario2{
        display: flex;
        flex-direction: column;
    }

    h6{
        font-size: 0.8rem;
    }

    .footerText{
        font-size: 0.5rem;
    }

    .accordion-collapse {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .pizzas1, .hamburguesas1, .sandwiches1, .milanesas1, .papasFritas1, .empanadas1 {
        padding: 15% 0 15% 0 !important;
    }
    
}

@media screen and (min-width:768px) and (max-width:1280px){
    .instagram-media{ 
        min-width: 240px !important;
        max-width: 240px !important; 
    }
}

@media screen and (min-width:320px) and (max-width: 767px){
    .instagram-media{ 
        min-width: 326px !important;
        max-width: 480px !important; 
    }
   
}