@import "header";
@import "titulos";
@import "inicio";
@import "eventos";
@import "menu";
@import "cervezas";
@import "reservas";
@import "footer";
@import "medias";

*{
    margin: 0;
    padding: 0;
}

/*eliminar margenes predeterminados boopstrap*/

.nomargin{
    margin: 0;
}
