$color1:#333333;
$color2:#37604c;
$color3:#c5a16f;
$color4:#ede8d7;
$color5:#606060;
$color6:#1f1f1f;

@import "header";
@import "titulos";
@import "inicio";
@import "menu";
@import "cervezas";
@import "reservas";
@import "footer";
@import "medias";

*{
    margin: 0;
    padding: 0;
}

/*eliminar margenes predeterminados boopstrap*/

.nomargin{
    margin: 0;
}
